/* ===========================
   HEADER
=========================== */




/* ===========================
   LOGO
=========================== */

.logo img{
    height:0px;
    display:block;
}

/* ===========================
   BOTÓN HAMBURGUESA
=========================== */

.menu-toggle{
    font-size:35px;
    cursor:pointer;
    user-select:none;
    color:#111;
}

/* ===========================
   MENÚ
=========================== */
.header{
    width: 100%;
}

.navbar{
    display: flex !important;
    justify-content: space-between !important;
    align-items: center !important;
}

.logo{
    margin: 0 !important;
}

.menu-toggle{
    margin-left: auto !important;
}


/*.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 100%;
    padding: 20px 40px;
    box-sizing: border-box;
}
/*

.nav-menu{
    display:none;

    position:absolute;

    top:100%;
    right:40px;

    width:250px;

    background:#fff;

    list-style:none;

    padding:20px;
    margin:0;

    border-radius:12px;

    box-shadow:0 8px 20px rgba(0,0,0,.15);

    flex-direction:column;
    gap:18px;
}*/

/* Cuando está abierto */

.nav-menu{
    display: none;
    position: absolute;
    top: 100px;
    right: 20px;

    width: 220px;

    background: #fff;
    list-style: none;

    padding: 20px;
    margin: 0;

    border-radius: 12px;
    box-shadow: 0 8px 20px rgba(0,0,0,.15);

    flex-direction: column;
    gap: 15px;

    z-index: 9999;
}

.nav-menu.active{
    display: flex;
}

.nav-menu li{
    list-style: none;
}

.nav-menu a{
    text-decoration: none;
    color: #111;
    font-size: 18px;
    font-weight: 600;
}

/* ===========================
   IDIOMA
=========================== */

.language{
    display:flex;
    justify-content:center;
    align-items:center;
    gap:10px;
}

.language span{
    color:#999;
}

/* ===========================
   MÓVIL
=========================== */
@media (max-width:768px){

    .navbar{
        padding:15px 20px;
    }

    .logo img{
        height:0px;
    }

    .menu-toggle{
        font-size:28px;
    }

    .nav-menu{
        top:140px;      /* Baja el menú */
        right:20px;
        width:220px;
    }

}

*/diseño de ultimas noticias*/ 
* HOVER */
.menu li a:hover {
  color:#5DADE2;
   height:120 px;
}


.news-grid{
  display:grid;
  grid-template-columns:2fr 1fr 1fr;
  gap:20px;
}

.main-news{
  grid-row:span 2;
}

.main-news img{
  width:100%;
  height:420px;
  object-fit:cover;
}

.side-news img{
  width:100%;
  height:140px;
  object-fit:cover;
}

.side-news h2,
.side-news h3{
  font-size:18px;
  line-height:1.4;
  margin-top:10px;
}

.side-news span{
  color:#666;
  font-size:13px;
}
.side-news{
  background:#0b0b0b;
  padding:15px;
  border-radius:8px;
}


/* NOTICIAS PEQUEÑAS */
.side-news {
  background: white;
  padding: 10px;
}

.side-news img {
  width: 100%;
  height: 120px;
  object-fit: cover;
}

.side-news h3 {
  margin-top: 8px;
  font-size: 16px;
}
/* SECCIÓN HISTORIAS */

.stories{
  background:#f2f2f2;
  padding:40px;
}

.stories-title{
  font-size:40px;
  margin-bottom:40px;
  font-family:'Playfair Display', serif;
  color:#111;
}
.stories-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 60px;
    max-width: 900px;
    margin: 0 auto;
    justify-items: center;
}

.story-card{
    width: 300px;
}

.story-card img{
    width: 100%;
    height: auto;
    display: block;
    border-radius: 15px;
    transition: transform .3s ease, box-shadow .3s ease;
}

.story-card:hover img{
    transform: translateY(-8px) scale(1.03);
    box-shadow: 0 15px 35px rgba(0,0,0,.25);
}

/* 📱 MÓVIL */
@media screen and (max-width:768px){

  .stories{
    padding:10px;
  }

  .stories-container{
    grid-template-columns:1fr;
    gap:30px;
  }

  .story-card{
    width:85%;
    max-width:320px;
    margin:0 auto;
  }

  .story-card img{
    width:100%;
    height:auto;      /* Mantiene la proporción */
    display:block;
    border-radius:15px;
  }

  .story-card h3{
    font-size:20px;
  }

  .story-content{
    display:flex;
    flex-direction:column;
    align-items:flex-start;
    gap:15px;
  }

  .btn-leer{
    width:100%;
    text-align:center;
  }
}

/* FLECHAS */

.arrow {
  background: rgba(255,255,255,0.1);
  border: none;
  color: white;
  font-size: 35px;
  cursor: pointer;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  transition: 0.3s;
}

.arrow:hover {
  background: white;
  color: black;
}

.left {
  margin-right: 15px;
}

.right {
  margin-left: 15px;
}
/* ===================== */
/* MERCH SLIDER */
/* MERCH PREMIUM */

.merch {
  padding: 80px 50px;
  background: white;
}

.merch h2 {
  font-size: 42px;
  margin-bottom: 40px;
  font-family: 'Playfair Display', serif;
}

.merch-wrapper {
  display: flex;
  align-items: center;
  position: relative;
}



.merch-slider {
  display: flex;
  gap: 20px;
  overflow-x: auto;
  scroll-behavior: smooth;
  scrollbar-width: none;
}

.merch-slider::-webkit-scrollbar{
  display:none;
}

.shop-card {
  min-width: 260px;
  flex-shrink: 0;
}

.shop-card img {
  width: 100%;
  height: 350px;
  object-fit: cover;
  background: #f5f5f5;
}

.shop-card h4 {
  margin-top: 15px;
  font-size: 14px;
  font-weight: bold;
}

.shop-card p {
  font-size: 14px;
  color: #555;
  margin: 5px 0 10px;
}

.shop-card span {
  font-size: 15px;
  font-weight: bold;
}

/* FLECHAS */

.arrow {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  border: none;
  background: rgba(0,0,0,0.08);
  cursor: pointer;
  font-size: 28px;
  transition: 0.3s;
}

.arrow:hover {
  background: black;
  color: white;
}

.merch-left {
  margin-right: 15px;
}

.merch-right {
  margin-left: 15px;
}
.merch-slider {
  display: flex;
  gap: 20px;
  overflow-x: auto;
  scroll-behavior: smooth;
  scrollbar-width: none;
}
.merch-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

/* justificar centro monitor*/

@media (max-width: 768px){

  .merch-wrapper{
    justify-content:flex-start;
  }

  .merch-slider{
    width:100%;
  }

}






 /* =========================
   FOOTER REDES SOCIALES
========================= */
/* =========================
   FOOTER
========================= */

.footer {
  background: #f5f5f5;
  padding: 80px 20px;
  text-align: center;
}

.social-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 35px;
  margin-bottom: 40px;
}

.social-icons a {
  width: 65px;
  height: 65px;
  background: white;
  border-radius: 50%;

  display: flex;
  justify-content: center;
  align-items: center;

  color: black !important;
  font-size: 28px;
  text-decoration: none;

  transition: 0.3s ease;
}

.social-icons a:hover {
  background: black;
  color: white !important;
}

.footer-links {
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
}

.footer-links a {
  color: black !important;
  text-decoration: none;
  font-size: 18px;
}

/* ===================== */
/* 📰 PAGINA NOTICIA */
/* ===================== */

/* ===== PRODUCT PAGE ===== */

/* ========================= */
/* PRODUCT PAGE */
/* ========================= */

.product-page{

  display:grid;

  grid-template-columns: 1fr 1fr;

  gap:40px;

  padding:40px;

  max-width:1200px;

  margin:auto;

  align-items:start;

  background:#f5f5f5;
}

/* IMAGEN */

.product-image img{

  width:100%;

  max-width:550px;

  display:block;

  margin:auto;

  border-radius:8px;
}

/* INFO */

.product-info{

  padding-top:20px;
}

.breadcrumb{

  color:#777;

  font-size:14px;

  margin-bottom:20px;
}

.product-info h1{

  font-size:42px;

  margin-bottom:15px;

  font-family:'Playfair Display', serif;
}

.product-subtitle{

  color:#666;

  margin-bottom:20px;

  font-size:17px;
}

.product-price{

  font-size:32px;

  font-weight:bold;

  margin:30px 0;
}

/* SPECS */

.product-specs{

  margin-bottom:30px;
}

.product-specs p{

  margin-bottom:10px;

  line-height:1.6;
}

/* BOTON */

.add-cart{

  background:black;

  color:white;

  border:none;

  padding:16px 30px;

  font-size:15px;

  cursor:pointer;

  transition:0.3s;
}

.add-cart:hover{

  background:#222;
}

/* DETALLES */

.product-details{

  margin-top:40px;

  border-top:1px solid #ddd;

  padding-top:30px;
}

.product-details h3{

  margin-bottom:15px;

  font-family:'Playfair Display', serif;
}

.product-details p{

  line-height:1.8;

  color:#444;
}

/* ========================= */
/* TABLET */
/* ========================= */

@media(max-width:900px){

  .product-page{

    grid-template-columns:1fr;

    gap:20px;

    padding:30px;
  }

  .product-info h1{

    font-size:34px;
  }

  .product-price{

    font-size:28px;
  }

}

/* ========================= */
/* MOBILE */
/* ========================= */

@media(max-width:600px){

  .product-details p{

  font-size:14px;
}

.product-details p{

  font-size:14px;
}
/* ========================= */
/* 📰 PAGINA NOTICIA */
/* ========================= */

.article-layout{

  display:grid;
  grid-template-columns: 2.2fr 0.9fr;
  gap:35px;

  max-width:1100px;
  margin:auto;

  padding:40px 25px;
}

/* CONTENIDO */

.article-content h1{

  font-size:52px;
  line-height:1.05;
  margin-bottom:20px;

  font-family:'Playfair Display', serif;
}

.article-author{

  font-weight:bold;
  margin-bottom:8px;
  font-size:14px;
}

.article-date{

  color:#777;
  margin-bottom:25px;
  font-size:13px;
}

.article-content img{

  width:100%;
  margin:25px 0;
}

.article-content p{

  font-size:16px;
  line-height:1.8;
  margin-bottom:22px;
  color:#222;
}

/* SIDEBAR */

.sidebar h3{

  font-size:20px;
  margin-bottom:20px;

  font-family:'Playfair Display', serif;
}

.side-item{

  margin-bottom:25px;
  border-bottom:1px solid #ddd;
  padding-bottom:15px;
}

.side-item img{

  width:100%;
  height:120px;
  object-fit:cover;
  margin-bottom:10px;
}

.side-item p{

  font-size:14px;
  line-height:1.4;
  font-weight:bold;
}

/* RESPONSIVE */

@media(max-width:900px){

  .article-layout{

    grid-template-columns:1fr;
  }

  .article-content h1{

    font-size:38px;
  }
}

}

  .product-page{

    padding:20px;
  }

  .product-info h1{

    font-size:28px;

    line-height:1.2;
  }

  .product-subtitle{

    font-size:15px;
  }

  .product-price{

    font-size:24px;
  }

  .add-cart{

    width:100%;
  }

  .product-details p{

  font-size:14px;
}



/* ========================= */
/* 📰 PAGINA NOTICIA */
/* ========================= */

.article-layout{

  display:grid;

  grid-template-columns: 2.2fr 0.9fr;

  gap:35px;

  max-width:1100px;

  margin:auto;

  padding:40px 25px;
}

.article-content h1{

  font-size:52px;

  line-height:1.05;

  margin-bottom:20px;

  font-family:'Playfair Display', serif;
}

.article-author{

  font-weight:bold;

  margin-bottom:8px;

  font-size:14px;
}

.article-date{

  color:#777;

  margin-bottom:25px;

  font-size:13px;
}

.article-content img{

  width:100%;

  margin:25px 0;
}

.article-content p{

  font-size:16px;

  line-height:1.8;

  margin-bottom:22px;

  color:#222;
}

.sidebar h3{

  font-size:20px;

  margin-bottom:20px;

  font-family:'Playfair Display', serif;
}

.side-item{

  margin-bottom:25px;

  border-bottom:1px solid #ddd;

  padding-bottom:15px;
}

.side-item img{

  width:100%;

  height:120px;

  object-fit:cover;

  margin-bottom:10px;
}

.side-item p{

  font-size:14px;

  line-height:1.4;

  font-weight:bold;
}
/* SELECT TALLAS camisa */

.size-select{

  width:200px;

  padding:12px;

  border:1px solid #ccc;

  font-size:15px;

  margin-top:10px;

  background:white;
}
 /* EFECTO PREMIUM PRODUCTOS */

.shop-card{

  transition: 0.35s ease;

}

.shop-card:hover{

  transform: translateY(-10px);

  box-shadow: 0 15px 35px rgba(0,0,0,0.15);

}

/* WHATSAPP FLOAT */

.whatsapp-float{

  position: fixed;

  width: 60px;

  height: 60px;

  bottom: 25px;

  right: 25px;

  background: #25D366;

  color: white;

  border-radius: 50%;

  display: flex;

  justify-content: center;

  align-items: center;

  font-size: 32px;

  text-decoration: none;

  box-shadow: 0 5px 15px rgba(0,0,0,0.25);

  transition: 0.3s ease;
/* prueba boton  */
  z-index: 99999; 
}

.whatsapp-float:hover{

  transform: scale(1.12);

  box-shadow: 0 8px 25px rgba(37,211,102,0.6);

}

/* EFECTO HOVER NOTICIAS */

.main-news,
.side-news{

  transition: 0.35s ease;

}

.main-news:hover,
.side-news:hover{

  transform: translateY(-8px);

  box-shadow: 0 15px 35px rgba(0,0,0,0.12);

}

.main-news,
.side-news{

  overflow: hidden;

}

/* CONTENEDOR GENERAL */
.news-layout {
  display: flex;
  gap: 40px;
  align-items: flex-start;
  padding: 40px;
}

/* NOTICIA PRINCIPAL */
/*.main-news {
  flex: 2;
}*/

.main-news h1 {
  font-size: 55px;
  line-height: 1.1;
  margin-bottom: 25px;
}

.main-news img {
  width: 100%;
  border-radius: 8px;
}

/* SIDEBAR */
.sidebar {
  flex: 1;
}

/* TITULO */
.sidebar h3 {
  font-size: 32px;
  margin-bottom: 25px;
}

/* CUADROS */
.news-card {
  background: #efefef;
  padding: 22px;
  margin-bottom: 18px;
  border-radius: 5px;
  transition: 0.3s;
  cursor: pointer;
   border-left:5px solid#5DADE2;
}

.news-card:hover {
  transform: translateY(-3px);
}

.news-card h4 {
  font-size: 20px;
  line-height: 1.4;
  color: black;
  margin-bottom: 10px;
}

.news-card span {
  color: gray;
  font-size: 14px;
}



.sidebar-art{
  margin-top: 9px;

  background: transparent;

  border-radius: 10px;

  overflow: hidden;

}

.sidebar-art img{
  width: 70%;

  height: 200px;

  object-fit: cover;

  padding: 20px 45px 1px;
  display: block;
}

.sidebar-art h4{
  color: black;

  padding: 15px 15px 5px;

  font-size: 18px;
}

.sidebar-art p{
  color: #aaa;

  font-size: 14px;

  line-height: 1.6;

  padding: 0 15px 20px;
}



  

  body{
    overflow-x: hidden;
  }

  .navbar{
    flex-direction: column;
    gap: 15px;
    padding: 20px;
  }

  .menu{
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
  }

  .news,
  .stories,
  .merch{
    padding: 40px 20px;
  }

  /*.news-grid{
    grid-template-columns: 1fr;
  }*/

  .main-news h1,
  .article-content h1{
    font-size: 34px;
    line-height: 1.2;
  }

  .stories-title,
  .merch h2{
    font-size: 30px;
  }

  .story-card{
    width: 100%;
  }

  .shop-card{
    min-width: 220px;
  }

  .article-layout{
    padding: 20px;
  }

  .article-content p{
    font-size: 15px;
    line-height: 1.7;
  }

 /* .article-content img,
  .main-news img{
    width: 100%;
    height: auto;
  }*/
.article-content img{
  width:100%;
  height:auto;
}

  .sidebar h3{
    font-size: 26px;
  }

  .news-card h4{
    font-size: 17px;
  }

   
/* 📱 politicas*/
.footer {
  text-align: center;
  padding: 50px 20px;
  background: #f5f5f5;
}

.footer-bottom {
  margin-top: 30px;
  padding-top: 20px;
  border-top: 1px solid #dcdcdc;
}

.footer-legal {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
  margin-bottom: 12px;
}

.footer-legal a {
  color: #555;
  text-decoration: none;
  font-size: 14px;
}

.footer-legal a:hover {
  color: #000;
}

.footer-bottom p {
  margin: 0;
  color: #777;
  font-size: 13px;
}


/* ===================== */
/* HERO / INICIO */

/* ===================== */
/* HERO / INICIO */
/* ===================== */

.hero{
    display:flex;
    align-items:center;
    justify-content:space-between;
    padding:4px 8%;
    min-height:9vh;
    background:#FFFFFF;
}

.hero-text{
    width:50%;
}

.hero-tag{
    display:inline-block;
    font-size:14px;
    letter-spacing:4px;
    color:#666;
    margin-bottom:20px;
}

.hero-text h1{
    font-family:'Playfair Display', serif;
    font-size:70px;
    line-height:1.1;
    color:#111;
    margin-bottom:20px;
}

.hero-line{
    width:1px;
    height:2px;
    background:#000;
    margin:25px 0;
}

.hero-text p{
    font-size:20px;
    line-height:1.8;
    color:  #0b0b0b;
    max-width:500px;
    margin-bottom:35px;
}

.hero-btn{
    display:inline-block;
    background:blue;
    color:#FFFFFF;
    text-decoration:none;
    padding:15px 35px;
    border-radius:30px;
    font-weight:bold;
}


.hero-image{
    width:100%;
    order:2;
    margin-top:120px;
    margin-left:90px; /* mueve a la derecha osito */
}
.hero-image img{
    width:500px;
    max-width:90%;
    height:auto;
    transform: translateX(80px)translateY(-50px);;
}

/* 📱 HERO MOBILE */

/* 📱 HERO MOBILE */ 

@media (max-width:768px){

  .hero{
    flex-direction:column;
    text-align:center;
    padding:30px 20px;
  }

  .hero-text{
    width:100%;
  }

  .hero-text h1{
    font-size:55px;
    line-height:1.05;
  }

  .hero-text p{
    max-width:100%;
    font-size:18px;
  }

  .hero-image{
    width:100%;
    display:flex;
    justify-content:flex-start; 
    margin-top:10px;
    order:3;
  }

  /* ↓ ESTE ES EL QUE CAMBIA EL TAMAÑO DE RIGEL */
  .rigel-video{
    width:190px;      /* prueba 100px, 120px o 140px */
    height:auto;
  }

}
/*intento arreglo movil ultimas noticias */

@media (max-width: 768px){

  .news-grid{
    display:grid !important;
    grid-template-columns:1fr !important;
    gap:20px !important;
  }

  .main-news{
    grid-row:auto !important;
  }

  .main-news img{
    width:100% !important;
    height:250px !important;
    object-fit:cover;
  }

  .side-news{
    width:100% !important;
  }

  .side-news img{
    width:100% !important;
    height:180px !important;
    object-fit:cover;
  }
    }  

  

/*derechos fotos articulos */

.foto-articulo{
  max-width:700px;
  margin:30px auto;
}

.foto-articulo img{
  width:100%;
  display:block;
}

.credito-foto{
  background:#0d2c54;
  color:white;
  font-size:10px;
  font-weight:700;
  text-transform:uppercase;
  padding:4px 8px;
  display:inline-block;
}

.descripcion-foto{
  font-size:13px;
  color:#666;
  border-left:1px solid #999;
  padding-left:10px;
  margin-top:6px;
  line-height:1.4;
}
  .credito-foto{
  background:blue !important;
  color:white !important;
  padding:8px !important;
  display:inline-block !important;
}

/* FOTO DE LA SEMANA */

.photo-week{
  padding:80px 40px;
  background:#f8f8f8;
}

.photo-content{
  max-width:1200px;
  margin:auto;
  display:grid;
  grid-template-columns:2fr 1fr;
  gap:50px;
}

.photo-main img{
  width:100%;
  height:auto;
  display:block;
}

.photo-main h2{
  font-family:'Playfair Display', serif;
  font-size:48px;
  margin-top:-10px;
  margin-bottom:20px;
}


.photo-info{
  margin-top:20px;
}

.photo-info h3{
  font-size:34px;
  margin-bottom:10px;
}

.photo-side{
  border-left:1px solid #ddd;
  padding-left:40px;
}

.photo-side h3{
  font-size:28px;
  margin-bottom:25px;
   margin-top:20px;
}

.side-box h4{
  font-size:30px;
  line-height:1.3;
  margin-bottom:20px;
}

.side-box p{
  line-height:1.8;
  color:#555;
  margin-bottom:25px;
}

.participa-btn{
  display:inline-block;
  padding:12px 24px;
  border:2px solid #000;
  text-decoration:none;
  color:#000;
  font-weight:bold;
  border-radius:4px;
  transition:0.3s;
}

.participa-btn:hover{
  background:blue;
  color:#fff;
}
.photo-content{
  max-width:1200px;
  margin:auto;
  display:grid;
  grid-template-columns:2fr 1fr;
  gap:50px;
  align-items:start;
}
.photo-side{
  border-left:1px solid #ddd;
  padding-left:40px;
}

/* 📱 FOTO DE LA SEMANA - MÓVIL */

@media (max-width: 768px){

  .photo-content{
    grid-template-columns:1fr;
    gap:30px;
  }

  .photo-side{
    border-left:none;
    border-top:1px solid #ddd;
    padding-left:0;
    padding-top:25px;
    text-align:center;
  }

  .photo-main h2{
    font-size:40px;
    text-align:center;
  }

  .photo-main img{
    height:auto;
  }

  .photo-info{
    text-align:center;
  }

  .photo-info h3{
    font-size:28px;
  }

  .side-box h4{
    font-size:24px;
  }

  .side-box p{
    font-size:16px;
    line-height:1.6;
  }

}


/*efecto inicio */
.hero{
    animation: heroZoom 1.2s ease forwards;
}

@keyframes heroZoom{

    from{
        opacity:0;
        transform:scale(0.95);
    }

    to{
        opacity:1;
        transform:scale(1);
    }

}

/* ===================== */
/* SKETCH GARAGE */
/* ===================== */

.art-gallery{
    padding:80px 50px;
    background:#f8f8f8;
}

.art-gallery h2{
    font-size:42px;
    font-family:'Playfair Display', serif;
    color:#111;
    text-align:center;
    margin-bottom:12px;
}

.art-subtitle{
    font-size:18px;
    color:#666;
    text-align:center;
    max-width:650px;
    margin:0 auto 45px;
    line-height:1.7;
}

.art-wrapper{
    display:flex;
    align-items:center;
    position:relative;
}

.art-slider{
    display:flex;
    gap:25px;
    overflow-x:auto;
    scroll-behavior:smooth;
    scrollbar-width:none;
    padding-bottom:15px;
}

.art-slider::-webkit-scrollbar{
    display:none;
}

.art-card{
    min-width:320px;
    flex-shrink:0;
    background:#fff;
    border-radius:15px;
    overflow:hidden;
    box-shadow:0 8px 20px rgba(0,0,0,.08);
    transition:.35s;
}

.art-card:hover{
    transform:translateY(-8px);
    box-shadow:0 15px 35px rgba(0,0,0,.15);
}

.art-card img{
    width:100%;
    aspect-ratio:1/1;
    object-fit:cover;
    display:block;
}

.art-card h4{
    margin:18px;
    font-size:20px;
    color:#111;
}

.art-card p{
    margin:0 18px 20px;
    color:#666;
    line-height:1.6;
    font-size:15px;
}

/* ===================== */
/* RESPONSIVE */
/* ===================== */

@media (max-width:768px){

    .art-gallery{
        padding:60px 20px;
    }

    .art-gallery h2{
        font-size:32px;
    }

    .art-subtitle{
        font-size:16px;
        margin-bottom:30px;
    }

    .art-slider{
        gap:18px;
    }

    .art-card{
        min-width:250px;
    }

}

/* portada articulos autos 

.article-cover{
    padding:50px 20px;
    background:#fff;
    text-align:center;
}

.cover-container{
    max-width:380px;
    margin:auto;
    border-radius:18px;
    overflow:hidden;

    box-shadow:
    0 20px 50px rgba(0,0,0,.15);
}

.cover-container img{
    width:100%;
    display:block;
}

.scroll-text{
    margin-top:25px;
    color:#777;
    font-size:15px;
}

.cover-container{
    transition:.35s;
}

.cover-container:hover{
    transform:translateY(-8px);
}
.cover-container img{
    transition:.4s;
}

.cover-container:hover img{
    transform:scale(1.02);
}
*/

.art-video{
    width:100%;
    height:100px;
    object-fit:cover;
    border-radius:18px;
    display:block;
}




.section-hover{
    transition:transform .4s ease;
}

.section-hover:hover{
    transform:scale(1.015);
}
